# generic
.DS_Store
.fleet
.idea
.vscode
.zed
.antigravitycli

# node
/node_modules
/package-lock.json

# environment files and secrets
/.env
/.secrets

# svg
*.svg

# eslint
*.cjs
*.cts
*.js
*.jsx
*.mjs
*.mts
*.ts
*.tsx
